
.top__links {
    color: gray;
    text-decoration: none;
    padding-right: 15px;
}

.container {
    width: 90%;
    margin: auto;
}

@media (min-width: 480px) {
    .container {
        width:70%;
        margin: auto;
    }
}

@media (min-width: 900px) {
  .container {
      width:60%;
      margin: auto;
  }
}

@media (min-width: 1200px) {
  .container {
      width:40%;
      margin: auto;
  }
}

.top__links_container {
    padding-top: 20px;
}

}.nav__logo {
    padding-top: 10px;
    color:grey;
}

.main__title {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}

.section__title {
    font-size: 16px;
    color: black;
}

.section__text {
    color: gray;
}

.button {
    border: 1px solid #000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}



