<!--
	class: class of the figure
	link: url the image directs to
	alt: alternative text
	caption: caption
	mouse: what the image says when moused over ("title" in HTML)
-->
<figure>
<style>
img{
    width: 800px;
    height: 200px;
    border-radius: 100%;
    user-select: none;
    object-fit: cover;
}
</style>
	<img src="{{ .Get "src" }}" 
			width="{{ .Get "width"}}"
			height="{{ .Get "height"}}"
			href="{{ .Get "href"}}"
		{{ with .Get "height=" }}height="{{.}}"{{ end -}}
	     {{- with .Get "mouse" }} title="{{.}}"{{ end -}}
	     {{- with .Get "alt" }} alt="{{.}}"{{ end -}}
	>
	{{- if .Get "link"}}</a>{{ end -}}
	{{- with .Get "caption" -}}
	<figcaption>
	{{- . -}}
	</figcaption>
	{{- end -}}
</figure>