<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    
    {{- partial "head.html" . -}}
    <body data-theme = "{{ .Site.Params.defaultColor }}" class="notransition">
        {{- partial "scriptsBodyStart.html" . -}}
        {{- partial "header.html" . -}}
        <div class="wrapper">
            {{ partial "bio" . }}
            <!--
            <main aria-label="Content">
                <h3 style="font-weight: bold; font-size: 16px;" class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
                {{/* Show last 5 posts in reverse date order */}}
                {{ $posts := .Site.RegularPages.ByDate.Reverse }}
                {{ range first 5 $posts }}
                {{ partial "postCard" . }}
                {{ end }}
                {{ if gt (len $posts) 5 }}
                <p style="font-size: 14px;">
                    <a href="/posts/">See all posts</a>
                </p>
                {{ end }}
            </main>
            -->


            <main aria-label="Content">
                <!--
                <h3 style="font-weight: bold; font-size: 16px;" class="posts-item-note" aria-label="Recent Posts">Achievements</h3>


                <article class="post-item">
                    <h4 class="post-item-title"><a style="font-size: 16px; color: gray;" >Completed Frontend Development specialization by Meta, <a href="/certificates/Metafrontend.pdf" target="_blank" >Certificate</a></a></h4>
                    <time class="post-item-meta" >2023</time>
                </article>
                <article class="post-item">
                    <h4 class="post-item-title"><a style="font-size: 16px; color: gray;" >Completed a post-grad in Marketing and Business Technologies at IPAM</a></h4>
                    <time class="post-item-meta" >2022</time>
                </article>
                <article class="post-item">
                    <h4 class="post-item-title"><a style="font-size: 16px; color: gray;" >Graduated with a Bachelor's degree in Computer Science, <a href="https://freelancer.com/u/visualoutline" target="_blank">Thesis</a></a></h4>
                    <time class="post-item-meta" >2022</time>
                </article>
                <article class="post-item">
                    <h4 class="post-item-title"><a style="font-size: 16px; color: gray;" >Completed a Higher Technical Professional Course in App Development</a></h4>
                    <time class="post-item-meta" >2018</time>
                </article>
                <article class="post-item">
                    <h4 class="post-item-title"><a style="font-size: 16px; color: gray;" >Started working as a graphic design <a href="https://freelancer.com/u/visualoutline" target="_blank">freelancer</a></a></h4>
                    <time class="post-item-meta" >2014</time>
                </article>
                <article class="post-item">
                    <h4 class="post-item-title"><a style="font-size: 16px; color: gray;" >Founded <a href="https://visualoutline.vercel.app/" target="_blank">visualoutline</a></a></h4>
                    <time class="post-item-meta" >2014</time>
                </article>
-->

                <h3 style="font-weight: bold; font-size: 16px;" class="timeline-item-note" aria-label="Recent Posts">Professional Milestones</h3>
                <div class="timeline-line"></div>


                <article class="timeline-item">
                    <time class="timeline-item-meta" >2023</time>
                    <div class="timeline-dot"></div>
                    <h4 class="timeline-item-title"><span style="font-size: 16px; color: gray;" >Completed Frontend Development specialization by Meta, <a href="/certificates/Metafrontend.pdf" target="_blank" style="color: #003fff;">Certificate</a></span></h4>
                </article>
                <article class="timeline-item">
                    <time class="timeline-item-meta" >2022</time>
                    <div class="timeline-dot"></div>
                    <h4 class="timeline-item-title"><span style="font-size: 16px; color: gray;" >Completed a post-grad in Marketing and Business Technologies at IPAM</a></h4>
                </article>
                <article class="timeline-item">
                    <time class="timeline-item-meta" >2022</time>
                    <div class="timeline-dot"></div>
                    <h4 class="timeline-item-title"><span style="font-size: 16px; color: gray;" >Graduated with a Bachelor's degree in Computer Science, <a href="/articles/codeflex-shortpaper.pdf" target="_blank" style="color: #003fff;" >Thesis</a></span></h4>
                </article>
                <article class="timeline-item">
                    <time class="timeline-item-meta" >2018</time>
                    <div class="timeline-dot"></div>
                    <h4 class="timeline-item-title"><span style="font-size: 16px; color: gray;" >Completed a Higher Technical Professional Course in App Development</span></h4>
                </article>
                <article class="timeline-item">
                    <time class="timeline-item-meta" >2014</time>
                    <div class="timeline-dot"></div>
                    <h4 class="timeline-item-title"><span style="font-size: 16px; color: gray;" >Started working as a graphic design <a href="https://freelancer.com/u/visualoutline" target="_blank" style="color: #003fff;">freelancer</a></span></h4>
                </article>
                <article class="timeline-item">
                    <time class="timeline-item-meta" >2014</time>
                    <div class="timeline-dot"></div>
                    <h4 class="timeline-item-title"><span style="font-size: 16px; color: gray;" >Founded <a href="https://visualoutline.vercel.app/" target="_blank" style="color: #003fff;">visualoutline</a></span></h4>
                </article>


                

            </main>

            {{- partial "footer.html" . -}}
        </div>
       
        {{- partial "scriptsBodyEnd.html" . -}}
    </body>
</html>